.articleContainer {
  @apply grid mx-auto box-content px-5 mb-32 md:mt-10;

  max-width: 1200px;
  row-gap: 1.5rem;

  @screen lg {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2.5rem 25px;

    & > * {
      grid-column: 2;
    }
  }

  & :global(.paragraph) {
    @apply break-words md:text-lg lg:text-xl leading-normal;

    & pre {
      @apply inline bg-gray-200 py-0.5 px-1;
    }
  }

  & > :global(.gist-container) {
    overflow: hidden;
  }

  & > :global(.youtube-container) iframe {
    width: 100%;
  }

  & > :global(.code-container) {
    @apply overflow-hidden col-span-full;
  }

  & a {
    background-image: linear-gradient(
      theme("colors.hn-primary-light"),
      theme("colors.hn-primary-light")
    );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 10px;
    transition: background-size 0.2s;
  }

  & a:hover {
    background-image: linear-gradient(
      theme("colors.hn-primary"),
      theme("colors.hn-primary")
    );
    background-size: 100% 100%;
  }

  & h2 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }

  & blockquote {
    @apply italic text-2xl text-center col-span-full py-5;
  }
}

@screen lg {
  .fullBleed {
    grid-column: 1 / 4;
  }
}

.profile {
  @apply col-start-1 row-span-6 row-end-auto flex items-start space-x-4
  lg:space-x-0 lg:flex-col lg:space-y-4;
}
